<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/admin_styles.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
    

    <title>My Cart</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-custom">
        <div class="container">
            <div class="pagename">
                <img class="logo d-inline-block align-text-center" src="/img/logo.png" />
            </div>
            <div class="alignR">
                <a class="nav-link" href="./"> Home</a>
                <a class="nav-link" href="edit_profile">My Account</a>
            </div>
        </div>

    </nav>
    <div class="spacer"></div>
    <div class="container border-bottom border-secondary">
        <h1>My Cart</h1>
    </div>
    
    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm-10">
                <table class="table table-hover table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each products}}
                        <tr>
                            <input type='hidden' value='{{itemNo}}'>
                            <th scope="row"></th>
                            <td><a href="/view_product?itemNo={{itemNo}}">{{name}}</a></td>
                            <td>{{Quantity}}</td>
                            <td>{{total}}</td>
                            <td><button class="delete">X</button></td>
                        </tr>
                        {{/each}}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th scope="row">Total:</th>
                            <td></td>
                            <td></td>
                            <td>{{total}}</td>
                        </tr>
                    </tfoot>
                </table>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    
                    <a class="btn btn-secondary me-md-2" role="button" href="./">Close</a>
                    <a class="btn btn-primary" role="button" id="checkout" href="checkout">Checkout</a>
                </div>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>

    {{!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> --}}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/cart.js"></script>
</body>
</html>