<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/view_product.js"></script>
    <link rel="stylesheet" href="/css/product_profile_styles.css"/>
    <title>{{name}}</title>
</head>
<body>
<!-- 
	Upper Header Section 
-->
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="topNav">
		<div class="container">
			<div class="alignR">
			<img class = "nav-img" src="/img/logo.png" alt="">
			<form action="#" class="navbar-search">
			  <input type="text" placeholder="Search" class="search-query span2">
			</form>
				<div class = "welcome">Welcome!</div> 
				<a href="./"> Home</a> 
				<a href="edit_profile">My Account</a> 
				<a href="my_cart">My Cart</a>
				<a href="register">Register </a> 
				<a href="login"> Login</a>
			</div>
		</div>
	</div>
</div>

<br>
<br>
<br>

<!--
Lower Header Section 
-->
 
<!-- 
Body Section 
-->
<div class="container">
<div id="gototop"> </div>
<div class="row">
<div id="sidebar" class="span3">
<img src="/img/logo white.png" alt="">
<div class="well well-small">
	<ul class="nav nav-list">
		<li><strong>Browse by Category</strong></a></li>
		<br>
		<li><a href="product1.html">- Electronics</a></li>
		<li><a href="product2.html">- Fashion</a></li>
		<li><a href="product3.html">- Sports</a></li>
		<li><a href="product4.html">- Home Decor</a></li>
		<li><a href="product5.html">- Makeup</a></li>

	</ul>
</div>

<div class="well well-small">
	<ul class="nav nav-list">
		<li><strong>Recently Searched</strong></a></li>
		<br>
		<li><a href="product2.html">- Fashion</a></li>
		<li><a href="product3.html">- Sports</a></li>
	</ul>
</div>

<div class="well well-small">
	<ul class="nav nav-list">
		<li><strong>Popular Searches</strong></a></li>
		<br>
		<li><a href="product2.html">- Fashion</a></li>
		<li><a href="product3.html">- Sports</a></li>
	</ul>
</div>
</div>

<!--Product Section-->
<div class="flexbox">
    <div class="centercontainer" style="width: 600px">
        <div class="rowdiv flex-start textbanner"><h1>{{name}}</h1></div>

        <div class="rowdiv">
            <!--Product Image and Price-->
            <div class="coldiv flex-start">
                <img class="productimg bordered" src="{{imgURL}}"><br>
                <hr class="line">
                <button id="buy" class="buybutton">Add to Cart</button> P{{Price}} <br>
                Rating : {{rating}}/5 <br>

                <p class="bottomtext"><b>Tagged Under :</b>{{#each tags}} {{ this }} {{/each}}</p>
            </div>

            <!--Product Description-->
            <div class="coldiv col-uneven flex-start productdesc">
                <h3 class="normalheader">Description</h3>
                <p>{{itemDesc}}</p>
            </div>
        </div>


        <!--Review Section-->
        <div class="rowdiv flex-start textbanner"><h2>Reviews</h2></div>
			<!--Comment input Section-->
			<div class="bordered">
				<div class="rowdiv rowdiv_nopad flex-start">Add a comment : </div>
				<div class="rowdiv rowdiv_nopad flex-start"> Rating : <input class="inputnum" type="number" id="rating" value=""></div>
				<div class="rowdiv rowdiv_nopad"><input class="inputbox" type="text" id="comment"></div>
				<div id="commentbuttons" class="rowdiv rowdiv_nopad commentbuttons">
					<div class="error"></div>
					<button id="send">Send</button>
    			</div>
			</div>
		<div id="comment_sec">
			<div class="rowdiv flex-start bordered">
				<p><b>Username</b> <br> 
				<u>Rating : 4/5.</u> Consectetur adipiscing elit duis tristique. Molestie nunc non blandit massa enim nec dui. Ultricies lacus sed turpis tincidunt id aliquet. Est placerat in 
				egestas erat imperdiet sed euismod nisi. Tincidunt tortor aliquam nulla facilisi cras.</p>
			</div>
		</div>
        
    </div>
    </div>
</div>
<div class="h-spacer"></div>
</div>
    
</body>
</html>